{% extends "OCPlatformBundle:Advert:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<section>
    <h2>Chez {{author}} !</h2>
    <p>{{hello}} My mail is {{mymail}} and my website is <a href="{{domain}}">{{domain}}</a>. :)</p>
  </section>
{% endblock %}